<div class="footer-container">
    <div class="footer-content">
        <div class="footer-column">
            <div class="lineas-atencion">
                <p class="atencion-title">Atención al Cliente</p>
                <p class="atencion-phone">580 1212</p>
                <p>contacto@alseguros.co</p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/alseguro" target="_blank" class="social-media-icon">
                    <span class="mapfre-fb-icon">
                    </span>
                </a>
                <a href="https://twitter.com/AlsegurosCo" target="_blank" class="social-media-icon">
                    <span class="mapfre-twitter-icon">
                    </span>
                </a>
                <a href="https://www.instagram.com/alseguro/" target="_blank" class="social-media-icon">
                    <span class="mapfre-instagram-icon">
                    </span>
                </a>
            </div>
        </div>
        <div class="footer-column">
            <div class="horarios-atencion">
                <p class="atencion-title">Horario de atención</p>
                <p>Lunes a viernes de 10:00 am a 6:00 pm</p>
            </div>
            <div class="sede">
                <p>Alseguros</p>
                <p>Calle 25b # 69c-80</p>
                <p>Oficina 104 Hotel Sheraton</p>
            </div>
            <div class="social-media social-media-mobile">
                <a href="https://www.facebook.com/alseguro" target="_blank" class="social-media-icon">
                    <span class="mapfre-fb-icon">
                    </span>
                </a>
                <a href="https://twitter.com/AlsegurosCo" target="_blank" class="social-media-icon">
                    <span class="mapfre-twitter-icon">
                    </span>
                </a>
                <a href="https://www.instagram.com/alseguro/" target="_blank" class="social-media-icon">
                    <span class="mapfre-instagram-icon">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>