.form-container__input,
.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

label,
.form-container__input__label {
    font-weight: 600;
    font-size: var(--fontSize-2);
    color: var(--gris-800);
    margin: 10px 0 5px 0;
    min-width: 300px;
    display: block;
}

.form-container__input__input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--gris-600);
    background-color: white;
    font-size: var(--fontSize-3);
    transition: all .2s ease-in-out;
    max-width: calc(100% - 26px);
    min-width: calc(100% - 26px);
}

select.form-container__input__input {
    min-width: 100%;
}

.form-item {
    margin-bottom: 24px;
}

.form-container__input__input:active,
.form-container__input__input:focus,
.form-container__input__input:focus-visible {
    border-color: var(--rojo-500);
    box-shadow: 0px 0px 12px var(--rojo-100);
    outline: 1px solid var(--rojo-500);
}

.form-container__input__input:disabled {
    font-style: italic;
}

.form-container__input__input.error,
.form-item--error label,
.form-item--error-message,
.form-item--error label span {
    color: var(--error);
    font-size: var(--fontSize-2);
    margin-top: 5px;
    font-weight: 500;
}

.form-container__input__input.error,
label span {
    font-size: var(--fontSize-3);
}

.form-container__input__input.error {
    border-color: var(--error);
    background-color: var(--bg-error);
}

.form-input__input--message {
    margin-top: 3px;
}

.form-input__checkbox label,
.form-input__checkbox:hover {
    cursor: pointer;
}

.form-input__checkbox label span,
.form-input__checkbox:hover span {
    margin-left: 10px;
}

.form-input {
    width: 100%;
}

.form-container .primary-button {
    align-self: center;
}

@media screen and (max-width: 500px) {
    .form-input {
        margin-bottom: 16px;
    }
}